* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    /* background: url('https://e0.pxfuel.com/wallpapers/563/414/desktop-wallpaper-minimalist-forest-minimalist-forest-sunset.jpg') no-repeat center center/cover; */
}

.login-container {
    background: rgba(255, 255, 255, 1.0);
    backdrop-filter: blur(20px);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 360px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.panel {
    position: absolute;
    width: 100%;
    max-width: 360px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -180px; /*ajuste de centrado */
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    box-sizing: border-box;
    text-align: center;
    z-index: 100;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    max-width: 180px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.form-group i {
    position: absolute;
    left: 10px;
    color: white;
}

input {
    width: 100%;
    padding: 12px 15px 12px 35px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background: rgba(0, 0, 128, 0);
    color: rgb(0, 0, 0);
    transition: border-color 0.3s;
}

input::placeholder {
    color: #000000;
    font-weight: bold;
}

input:focus {
    border-color: #aa0000;
}

button {
    width: 100%;
    padding: 12px 15px;
    background-color: #aa0000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #aa0000;
}

button:active {
    transform: scale(0.98);
}

#error-message {
    margin-top: 15px;
    color: white;
    font-size: 16px;
	margin-bottom: -5px;
}

#return {
    margin-top: 15px;
    color: white;
    font-size: 16px;
	margin-bottom: -5px;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.link-container {
    margin-top: 20px;
}

.link-container a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 16px;
}

.link-container a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}