@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

#cuer {
    margin: 0;
    font-family: 'Asap', 'Poppins', sans-serif;
    text-shadow: #000 0 0 10px;
}

#contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background: #111;
    font-family: 'Asap', 'Poppins', sans-serif;
    text-shadow: #000 0 0 10px;
    font-size: 30px;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

#descripcion {
    font-family: 'Asap', 'Poppins', sans-serif;
    text-shadow: #000 0 0;
    font-size: 15px;
    margin-top: -5px;
    margin-bottom: -8px;
}

.item {
    position:relative;
    flex: calc(100px / 8) 1 1;
    background-size: cover;
    overflow: hidden;
    filter: saturate(90%);
    transition: flex 1s ease; /* Ajusta la duraci贸n de la transici贸n */
    border: none; /* Elimina el borde blanco */
}

.item:before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(25deg, rgba(0,0,0,.9), rgba(0,0,0,0));
}

.item:not(:last-child) {
    border: none; /* Elimina el borde blanco */
    animation: borderPulse 8s infinite; /* Ajusta la duraci贸n de la animaci贸n del borde */
}

.item:hover {
    flex-basis: 40%;
    filter: saturate(120%);
    
    @media (min-width: 1024px) {
        flex: 45%;
    }
    
    .quote{
        opacity: 1;
        transform: translateX(0);
    }
}

.item:nth-child(1){
    background-image: url("../img/torno.jpg");
    background-position: 72% 35%;
}

.item:nth-child(2){
    background-image: url("../img/CNC.jpg");
    background-position: 60% 8%;
}

.item:nth-child(3){
    background-image: url("../img/fresa.png");
    background-position: 52% 8%;
}

.item:nth-child(4){
    background-image: url("../img/sierra.png");
    background-position: 45% 8%;
}

.item:nth-child(5){
    background-image: url("../img/cepillo.jpg");
    background-position: 45% 8%;
}

.item:nth-child(6){
    background-image: url("../img/taladro\ de\ banco.jpg");
    background-position: 45% 8%;
}

.quote {
    position: absolute;
    color: #fff;
    bottom: 15%;
    left: 5rem;
    width: calc(100% 10rem);
    opacity: 0;
    transition: 1%;
    transform: translateX(50%);
    
    @media (min-width: 512px) {
        left: 15%;
        bottom: 35%;
        width: 20px;
    }
    
    @media (min-width: 1024px) {
        left: 15%;
        bottom: 35%;
        width: 30vw;
    }

    #p {
        position: relative;
        display: inline-block;
        margin-bottom: 1.7rem;
        font-size: .4rem;
        text-wrap: balance;
        font-style: italic;
    }

    &:before, &:after {
        position: absolute;
        font-size: 5.5rem;
        opacity: .6;
    }

    &:before {
        content: "";
        top: 4rem;
        left: -2rem;
        transform: translate(-100%, -100%);
    }

    &:after {
        content: "";
        top: 2rem;
        left: -2rem;
        transform: translate(-100%, -100%);
    }
}

@keyframes borderPulse {
    0%, 100% {border-color: rgba(204, 204, 204, 1);}
    25%, 75% {border-color: rgba(204, 204, 255, 0.9);}
    50% {border-color: rgba(204, 204, 204, 0.5);}
    
}

/* span {
    position: absolute;
    bottom: -2rem;
    right: 0;   
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    transform: translate(4rem, 100%);

    &:before{
        content:"-";
        margin-right: .7rem;
    }
} */