/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1120px) {
    :root {
      --h2-font-size: 2.0rem;
      --small-font-size: .875rem;
    }
  }
  
  /* =============== BASE =============== */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  #bodyCard {
    font-family: var(--body-font);
    color: var(--text-color);
  }
  
  #imgCard {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*=============== CARD ===============*/
  .containerCard {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    margin-top: -50px;
  }
  
  .card__containercard {
    display: grid;
    row-gap: 3.5rem;
  }
  
  .card__articlecard {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 250px;
  }
  
  .card__imgcard {
    width: 500px;
    border-radius: 1.5rem;
  }
  
  .card__datacard {
    width: 250px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__titlecard {
    font-size: var(--h2-font-size);
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: var(--title-color);
  }
  
  /* Naming animations in hover */
  .card__articlecard:hover .card__datacard {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__articlecard:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__articlecard:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__articlecard:not(:hover) .card__datacard {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .containerCard {
      margin-inline: 1rem;
    }
  
    .card__datacard {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__containercard {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .containerCard {
      height: 100vh;
    }
  
    .card__containercard {
      grid-template-columns: repeat(4, 1fr);
    }
    .card__imgcard {
      width: 250px;
    }
    .card__datacard {
      width: 230px;
      padding-inline: 2.5rem;
    }
  }